fastapi==0.111.0
uvicorn==0.30.1
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
pydantic==2.7.4
python-multipart==0.0.9
reportlab==4.2.0
torch==2.3.1
torchvision==0.18.1
opencv-python-headless==4.9.0.80
facenet-pytorch==2.6.0
python-dotenv==1.0.1